[Unit]
Description=Simple Dynamic-DNS for use with GoDaddy DNS
Wants=gdddns.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/gdddns.sh

[Install]
WantedBy=multi-user.target
